@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Chewy&display=swap');




html, body {
    font-family: 'Baloo 2', cursive;
    height: 100vh; 
    margin: 0;
    padding: 0; 
    color: whitesmoke;
    text-shadow: 1px 1px 2px rgb(0, 65, 0);

}

.background {
    position: fixed;   
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: url('images/page_bg.png') no-repeat;
    background-size: cover;
    background-color: rgba(43, 131, 62, 0.295); 
    background-blend-mode: soft-light;
    background-attachment: fixed;
    z-index: -1;       
}



.container {
    width: 80%;
    margin: auto;
}

/* .container .navbar {
    background-color: #2949009a;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: 2% 0;
    border-radius: 5px;
    a {
        text-decoration: none;
        color: whitesmoke;
        font-size: 1.2rem;
        border-radius: 30px;
        padding: 10px 15px;
        
    }
}
.container .navbar a:hover {
    background-color: #4e8a00;
    color: white;
    transition: background-color 0.5s ease;
} */





.first-layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 5px;
}

.about_section {
    text-align: center;
    font-size: 13px;
    background: rgba(31, 70, 0, 0.5);
        border-radius: 10px;
        border-top: whitesmoke solid 2px;
        border-bottom: rgb(20, 36, 0) solid 2px;
    padding: 2%;
        margin: 2% 0;
        margin-bottom: 30px;
    h2 {
        font-size: 20px;
    }
}


/* HEADER SECTION AND NAVIGATION BAR */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2949009a;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    font-size: 8px;
    font-style: italic;
    position: relative; 
    top: 0;
    left: 0;
    right: 0;

}

/* PROFILE SECTION */
.Profile {
    width: 100%;
    background-color: rgba(123,123,123,0.3);
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 117, 82, 0.7);
    margin: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    .pfp {
        width: 100px;
        height: 100px;
        border-radius: 40%;
        border: 5px solid #294900d5;
        box-shadow: inset 0 0 10px rgba(41, 73, 0, 0.7);
    }
    p {
        font-size: 12px;
        margin:0;
    }

}

.deets {
    width: 80%;
    h2 {
        margin: 0;
    }
}

.contacts {
    display: flex;
    flex-direction: row;
    width: 50px;
    height: 50px;
}
.contacts a img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px
}

.details {
    background: rgba(31, 70, 0, 0.5);
    border-radius: 10px;
    padding: 2%;
    margin: 2% 0;
    h2 {
        font-size: 20px;
    }

}

.details .email_address ul {
    list-style-type: none;
    padding: 0;
    li {
        background-color: rgba(153, 201, 99, 0.733);
        border-left: white solid 2px;
        margin: 5px 0;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 13px;
        border-radius: 0 10px 10px 0;
    }

    a {
        color: #acff41;
    }
}









.sectionTitle {
    border-top: whitesmoke solid 2px;
    border-bottom: rgb(20, 36, 0) solid 2px;
    

    background-color: #294900d5;
    width: 100%;
    border-radius: 5px;
    margin: 0;
    text-align: center;
}






/* EDUCATIONAL BACKGROUND SECTION */
.Education_section {
    background-color: rgba(123,123,123,0.3);
    padding: 2%;
    margin: 5%;
    margin-top: 1%;
    border-radius: 10px;
    text-align: center;
    box-shadow: inset 0 0 10px rgba(0, 117, 82, 0.7);
    
}

.Education_section .card-container {
        display: flex;              
        gap: 1rem;                  
        padding: 1rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: smaller;
    }

.Education_section .card {
        flex: 0 0 auto;             
        width: 90%;
        height: 14%;
        background: rgba(31, 70, 0, 0.5);
        border-radius: 10px;
        text-align: center;
        padding: 1% 0;
        
    }

.Education_section .card:hover {
        background: rgba(32, 70, 0, 0.911);
        transform: scale(1.05);
        transition: 0.4s ease-in-out;
    }






/* PROJECTS SECTION */
.Projects_section {
    background-color: rgba(123,123,123,0.3);
    box-shadow: inset 0 0 10px rgba(0, 117, 82, 0.7);
    padding: 2%;
    margin: 5%;
    margin-top: 1%;
    border-radius: 10px;
    text-align: center;
}

.Projects_section ul {
    list-style-type: none;
    padding: 0;
    li {
        background-color: rgba(31, 70, 0, 0.5);
        border-left: white solid 2px;
        margin: 5px 0;
        text-align: left;
        padding-left: 10px;
        border-radius: 0 10px 10px 0;

        p{
            font-size: 13px;
        }
    }
}

.Projects_section ul li:hover {
    background-color: rgba(31, 70, 0, 0.9);
    transform: scale(1.10);
    transition: 0.4s ease-in-out;
}




.skills_section {
    background-color: rgba(123,123,123,0.3);
    box-shadow: inset 0 0 10px rgba(0, 117, 82, 0.7);
    padding: 2%;
    margin: 5%;
    margin-top: 1%;
    border-radius: 10px;
    text-align: center;
    
}

.skills_section .skill_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    gap: 10px;;
    div {
        background-color: rgba(31, 70, 0, 0.5);
        border-left: white solid 2px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 70px;
        height: 70px;
    }

    p {
        display: none;
    }
}

.skills_section .skill_cards div:hover {
    background-color: rgba(31, 70, 0, 0.9);
    transform: scale(1.10);
    transition: 0.5s ease;
    p {
        display: block;
        font-size: 12px;
        padding: 0;
        margin: 0;
    }
    
}



footer {
    background-color: #2949009a;
    text-align: center;
    padding: 1px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 10px;
    p {
        margin: 5px 0;
    }


}





/* FOR LAPTOP AND DESKTOP SCREENS */
@media only screen and (min-width: 1623px) {

    .first-layer {
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        width: 70%;
        margin: auto;
        height: 500px;
    }

    .about_section {
        width: 100%;
        padding: 0 2%;
        text-align: left;
    }

    .about {
        width: 50%;
        margin: auto;
    }
    html, body {
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    .header {
        font-size: 13px;
    } 
    
    main {
        flex: 1;
    }
    .container {
        width: 100%;
        margin: auto;
    }

    .Profile {
        width: 80%;
        margin: 20px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 50px;
        .pfp {
            width: 150px;
            height: 150px;
        }
        p {
            font-size: 15px;
        }

    }


    .deets {
        width: 70%;
        font-size: 20px;
        h1 {
            margin: 0;
        }
    }

    
    
    .contacts a img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 75px
    }

    .details {
        width: 80%;
        padding: 3%;
        h2 {
            margin: 0;
        }
    }

    .details .email_address ul {
        li {
            font-size: 17px;
        }
    }

    .sectionTitle {
        width: 100%;
        border-radius: 5px;
        margin: 0;
        padding-left: 10px;
    }

    .Education_section {
        margin-top: 1%;
    }
    .Projects_section {
        margin-top: 1%;
    }   
    .skills_section {
        margin-top: 1%;
    }

    .Education_section .card-container {
        flex-direction: row;
        justify-content: space-between;
            
    }

    .Education_section .card {
        width: 90%;
        height: 150px;
    }

    .skills_section .skill_cards{
        width: 80%;
        margin: auto;
    }


    .desktop_purpose {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        div {
            width: 50%;
        }
    }

    footer {
        position: fixed;
    }
}



/* FOR TABLET SCREENS */
@media only screen and (min-width: 768px) and (max-width: 1622px) {
    /* Tablet-specific styles */
}